*
{
    font-family: 'Baloo Bhai 2', cursive;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.575);
}

html
{
    scroll-behavior: smooth;
}

p:hover
{
    cursor: default;
    background: rgba(128, 128, 128, 0.411);
}

body
{
    margin: 0%;
    padding: 0%;
}


/* navigation bar style  */

#navbar
{
    display: flex;
    align-items: center;
    position: relative;
    top: 0%;
    /* background: #ababab; */
    border-bottom: 4px solid black;
    z-index: 2;
}

/* logo and img  */


#logo
{
    margin: 11px 15px;
    
}

#logo img 
{
    height: 70px;
    width: 70px;
    border-radius: 40px;
}


/* list style  */



#navbar ul
{
    display: flex;
}

#navbar::before
{
    content: "";
    background: #ababab;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.item
{
    text-decoration: none;
    list-style: none;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0px 5px;
}

#navbar ul li a
{
    display: block;
    padding: 7px 15px;
    border-radius: 5px;
    text-decoration: none;
    /* background-color: #949494; */
    color: white;
}

#navbar ul li a:hover
{
    background-color: white;
    color: black;
}

/* Home section  */

.home
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

#home
{
    padding: 5px 200px;
    /* height: max-content;
    width: fit-content; */
    /* border: 2px solid black; */
    /* position: relative; */
    margin-bottom: 15px ;

}

#home h1
{
    font-size: 4rem;
    animation-name: vinay;
    
    animation-duration: 8s;

    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
}


@keyframes vinay {
    0%
    {
        left:-99%
    }
    
    100%
    {
        left: 99%;
        
    }

}

.container
{
    position: relative;
}
.container::before
{
    content: "";
    background: url('/img/food3.jpg') repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 2;
}

/* Utility classes  */
.primary
{
    font-size: 3.5rem;
    padding: 8px 12px;
    
}

.secondary
{
    font-size: 2.8rem;
}



.btn
{
    padding: 5px 15px;
    border: 2px solid white;
    color: white;
    background-color: #ababab25;
    margin: 10px;
}

.btn:hover
{
    background: #ababab69;
    cursor: pointer;
}
h1:hover 
{
    cursor: default;
    background: rgba(128, 128, 128, 0.411);
}

/* services  */

#service
{
/* border: 2px solid black; */
/* margin: 10px; */
display: flex;
height: fit-content;
width: fit-content;
margin: 15px 0px;
/* position: relative; */
}

/* #service::before
{
    content: "";
    background: url('/img/food3.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 2;
} */

.mainbox
{
    display: flex;
    flex-direction: row;
    
}

.box
{
    display: block;
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    background: #f9f2f231;
    box-shadow: 3px 3px 20px;
    border-radius: 15px;
}

.box img
{
    height: 156px;
    width: 170px;
}

#ourclient
{
    display: flex;
    position: relative;
    margin: 15px 0px;
}

#ourclient::before
{
    content: "";
    background: url('/img/pizza3.jpg') no-repeat center center/cover;
    position: absolute;
    
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .9;
}
#ourclient img
{
    border-radius: 20px;
    height: 100px;
    padding: 10px;
}


#contact_us
{
    margin: 15px 0px;
    display: flex;
  
    position: relative;
}

#contact_us::before
{
    content: "";
    background: url('/img/food5.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .8;
}


#contact_us a img
{
    padding: 10px;
    border-radius: 20px;
    height: 100px;
}

#form
{
    position: relative;
    padding: 15px 20px;
}

#form form
{
    padding: 0px 15px;
}

#form::before
{
    content: "";
    background: url('/img/burger2.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .8;
}

#form input
{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    border-radius: 5px;
}

#form label
{
    text-align: left;
    font-size: 1.3rem;
    position: relative;
    top: 35px;
    right: 210px;
}

#form button
{
    font-size: 1.3rem;
    padding: 0px 15px;
    margin-top: 25px;

}

.center
{
    text-align: center;
    background: rgba(0, 0, 0, 0.815);
    color: white;
}
