#navbar
{
    flex-wrap: wrap;
    flex-direction: row;
    
}

#navbar ul 
{
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1px;
}

#navbar ul li
{
    font-size: 20px;
    text-align: center;
}

#navbar ul li a
{
    padding: 5px 5px;
}

.item
{
    padding: 0px 5px;
}

p{
    font-size: 17px;
}

.primary
{
    margin: 0px;
    padding: 5px ;
    font-size: 2.2rem;
}

.secondary-center
{
    font-size: 1.5rem;   
}

.container
{
    margin: 0px 0px;

}

#home
{
padding: 10px 10px;
margin-bottom: 0px ;
}

#home h1
{
    font-size: 2.5rem;
    animation-name: vinay;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
}


@keyframes vinay {
    0%
    {
        left:-99%
    }
    100%
    {
        left: 90%;
    }
}

.mainbox
{
    flex-direction: column;
}

#service
{
    margin: 0px 0px;
}
.box img
{
    height: 100px;
    width: 120px;
}

#ourclient
{
    flex-wrap: wrap;
    margin: 0px 0px;
    overflow: hidden;
}

#ourclient img
{
    height: 50px;
}

#contact_us
{
    flex-wrap: nowrap;
    margin: 0px 0px;
    overflow: hidden;

}

#contact_us a img
{
    height: 50px;
}

#form
{
    flex-wrap: nowrap;
    margin: 0px 0px;
    overflow: hidden;
}

#form input
{
    font-size: 17px;
    margin-left: 120px;
}

#form label
{
    font-size: 20px;
    position: relative;
    top: 33px;
    right: 140px;
}

#form button
{
    font-size: 18px;
}

.btn
{
    font-size: 18px;

}

footer
{
    font-size: 18px;
}
